@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: Montserrat;
}

ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
}

header h1 {
    font-size: 35px;
}
header h1 {
    margin: 0;
}
h2 {
    font-size: 25px;
}

a,button {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

/* ACCUEIL */
.home {
    height: 600px;
    background: transparent url(../img/i_home.jpeg) center no-repeat;
    background-size: cover;
}

/*  */

.photos {
    min-height: calc(100% -);
}